# Entornos virtuales de Python
.venv/
venv/

# Caché y archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Configuración local de VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno y secretos
.env
